*{
    text-decoration: none;
    margin: 0;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    width: 1100px;
    margin:auto;
    position: block;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #393E46;
}

.menu {
    float: right;
    
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFF;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

li.dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown a:hover {
    color: #fff !important;
}

.isi-dropdown {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #f9f9f9;
}

.isi-dropdown a {
    color: #3c3c3c !important;
}

.isi-dropdown a:hover {
    color: #232323 !important;
    background: #f3f3f3 !important;
}

section{
    padding: 50px;
    margin: 0 auto;
    width: 1300px;
    height: auto;
    background:#F8F7F3;
    border-radius: 25px; 
}

p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 22;
    font-family: 'Open Sans', sans-serif;
}

h3{
    font-size: 20;
    font-family: 'Open Sans', sans-serif;
}

section ul li{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
 
}

.udinpetot{
    margin-left: 20px;
}